server       {
    listen          9999;
    root cbvcbv;
    host            127.0.0.1;
    server_name     server1;
    error_page      404 404.html;
    error_page      505 505.html;
    client_max_body_size 999999999999999999;
    allowed_methods  GET POST;
    location /ss{
        root        /nfs/homes;
        autoindex   on;

    }
    location /ssss{
        
        root /sss;
    }
    location /{
        root /sss;
    }
    location /ssss{
        root /sss;
    }
}


server{
    listen          8080;
    host            127.0.0.1;
    server_name     server2;
}


server{
    listen          7070;
    host            127.0.0.1;
    server_name     server3;
}
