
server{

    listen 2323;
    host 127.0.0.1;
    server_name localhost google.com   ;             
    root  ./www/html   ;
    error_page 500 ./etc/errors/500.html;
    error_page 501 ./etc/errors/501.html;
    error_page 400 ./etc/errors/400.html;
    error_page 403 ./etc/errors/403.html;
    error_page 404 ./etc/errors/404.html;
    error_page 405 ./etc/errors/405.html;
    client_max_body_size 1;
    location /imgs/index.html{
        allowed_methods GET DELETE POST;
        root ./www/html/imgs;
        index index.html index.php;
        autoindex  on;
        upload  on;
        cgi on;

    }
    location /imgs/index{
        allowed_methods GET DELETE POST;
        root /home/kali/Desktop;
        index indesx.html index.php;
        autoindex  off;
        upload  on;

        cgi on;

    }
    location /imgs{
        allowed_methods GET DELETE POST;
        root ./www/html/imgs/;
        index index.html index.php;
        autoindex  on;
        upload  on;
        cgi on;
    }
}